*{
    padding: 0;
    overflow: hidden;
}

header{
    height: 100px;
    width: auto;
    text-align: center;
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
}


#Menu{
    text-align: center;
    margin-top: 10px;
    width: 200px ;
    height: 540px;
    overflow-y: auto;
}

.miniatura{
    width: 150px;
    height: 180px;
    transition: 1s;
    filter: grayscale(100%);
}

.miniatura:hover{
    filter: grayscale(0%);
}

.cuadro{
    text-align: center;
    margin: 203px;
    margin-top: -575px;
    width: 510px;
    height: 600px;
}

.breda{
    zoom: 70%;
}

.texto{
    text-align: center;
    margin-left: 50%;
    margin-top: -780px;
    width: auto ;
    height: 570px;
    border: black 1px solid;
}

.titlo_c{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    margin-top:300px;
}

