*{
    padding: 0;
    overflow: hidden;
}

header{
    height: 100px;
    width: auto;
    text-align: center;
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
}


#Menu{
    text-align: center;
    margin-top: 10px;
    width: 200px ;
    height: 540px;
    overflow-y: auto;
}

.miniatura{
    width: 150px;
    height: 180px;
    transition: 1s;
    filter: grayscale(100%);
}

.miniatura:hover{
    filter: grayscale(0%);
}

.cuadro{
    text-align: center;
    margin: 203px;
    margin-top: -575px;
    width: 510px;
    height: 600px;
}

.breda{
    zoom: 70%;
}
.inocencio{
    width: 510px;
    height: 600px;
}
.meninas{
    width: 510px;
    height: 600px;
}
.venus{
    width: 510px;
    height: 600px;
}
.vulcano{
    width: 510px;
    height: 600px;
}

.texto{
    text-align: center;
    margin-left: 50%;
    margin-top: -780px;
    width: auto ;
    height: 570px;
}

.titulo_c{
    font-family: 'Montserrat', sans-serif;
    font-size: xxx-large;
    margin-top:250px;
}
.precio_c{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}
.descripcion_c{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}
.fecha_c{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

#Boton{
    background-color: #97c1c0;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}

#Boton:hover {
    background-color: #04c5c0;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}

